body{
    font-family: "poppins";
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5px;
    width: 50%;
}
.sidebars{
    margin-top: 50px;
}
.side-icon{
    display: flex;
    flex-direction: column;
    width: 25px;
    margin-top: 20px;
} 
.nav{
    display: flex;
    font-size: xx-large;
    font-style: italic;
    align-items: center;
    padding-left: 70px;
    justify-content: space-between;
    margin-right:150px;
}
.nav>img{
    width: 50px;
    height: 50px;
}
.rec{
    display: flex;
    border: 1px solid gray;
    padding-right: 30px;
    border-radius: 100px;
    width: 180px;   
}
.rec>img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-left: 1px solid gray;
    display: flex;
    justify-content:center;
    align-items: center;    
}
.acc>img{
    height: 20px;
    width: 15px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;   
  
}
.acc>span{
    flex-direction: column;
    justify-content:center;
    align-items: center;  
    font-size: small;
   
}
.mic>img{
    height: 20px;
    width: 15px;
    padding-right: 100px;
    cursor: pointer;     
} 
.cart>img{
    height: 60px;
    width: 70px;
    padding: 10px;
    cursor: pointer; 
}
.cart{
    display: flex;
    align-items: center;  
}
.cart>span{
    font-size: medium;
}
.tabs{
    display: flex;
    gap: 150px;
    margin: 20px 0px 85px 0px ;
    position: relative;
    top: 3%;
    padding-left: 80px;
}
.tabs span{
    padding: 5px 18px;
    background-color: #e1e1e1;
    border-radius: 7px;
    cursor: pointer;
    font-size: 12px;
}
.products{
    display:flex;
    width: 300px;
    padding-left: 100px; 
    padding: right 100px; 
    cursor: pointer;
    flex-direction:row;
}
.sales{
    display: flex; 
    height: 200px;
    width: 300px;
}
.names>span>img{
    width: 15px;
}
h5{
    padding-top: 200px;
    margin-right: 80px;
    padding-left: 260px;
    display: flex;
    align-items: center;

}
h4{
    padding-top: 100px;
    margin-left: 10px;
    display: flex;
}
.item{
  margin-left: 10px;
  padding-top: 450px;
 
}
